<div>
  <ion-button color="primary" (click)="onPickLocation()">
  <ion-icon name="map" slot="start"></ion-icon>
  <ion-label>Selecciona Ubicación</ion-label>
  </ion-button>
 </div>

 <div class="picker">
 <ion-img class="location-image" [src]="selectedLocationImage" *ngIf="selectedLocationImage"></ion-img>
 <ion-button color="primary" (click)="onPickLocation()" *ngIf="!selectedLocationImage">
 <ion-icon name="map" slot="start"></ion-icon>
 <ion-label>Selecciona Ubicación</ion-label>
 </ion-button>
</div>
